.react-flow__controls button {
    background-color: #F1F1F2;
    width: 25px;
    height: 25px;
  }
  
  .react-flow__controls button:hover {
    background-color: #E3E3E3;
  }
  
  .react-flow__controls button:first-child {
    border-radius: 0 0 4px 4px;
  }
  
  .react-flow__controls button:last-child {
    border-radius: 4px 4px 0 0;
  }